<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="styles/style.css">
    <link rel="icon" type="image/x-icon" href="images/icon.ico">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css"
    integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ=="
    crossorigin=""/>
    <title>Netherlands Water Stats</title>
</head>
<body>
    <div class="header">
        <svg viewBox="0 20 500 500" preserveAspectRatio="xMinYMin meet">
            <path d="M0,100 C150,200 350,0 500,100 L500,00 L0,0 Z" style="stroke: none; fill:lightskyblue;"></path>
            <text x="77" y="50" fill="white">Netherlands</text>
            <text x="77" y="85" fill="white">Water</text>
            <text x="77" y="120" fill="white">Stats</text>
        </svg>  
    </div>
    <div id="mySidebar" class="navigation">
        <a href="javascript:void(0)" class="closebtn" onclick="closeSidebar()">x</a>
        <div class="text">Drinking Water Pollution</div>
        <div class="bar" id="sidebar-drinking-water-pollution"></div>
        <div class="text">Water Pollution</div>
        <div class="bar" id="sidebar-water-pollution"></div>
        <div class="text">Drinking Water Quality</div>
        <div class="bar" id="sidebar-drinking-water-quality"></div>
        <div class="text">Water Quality</div>
        <div class="bar" id="sidebar-water-quality"></div>
    </div>
    <div id="myNav" class="navigation">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">x</a>
        <div class="text">
            <div>Drinking Water Pollution</div>
            <div>Water Pollution</div>
            <div>Drinking Water Quality</div>
            <div>Water Quality</div>
        </div>
        <div class="bar">
            <div id="nav-drinking-water-pollution"></div>
            <div id="nav-water-pollution"></div>
            <div id="nav-drinking-water-quality"></div>
            <div id="nav-water-quality"></div>
        </div>
    </div>
    <div id="map"></div>
    <script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"
   integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ=="
   crossorigin="">
    </script>
    <script>
        const wsProtocol = location.protocol.includes('https') ? 'wss:' : 'ws:';
        const socket = new WebSocket(`${wsProtocol}//${location.host}`);

        const sidebar = document.getElementById("mySidebar");
        const sideDrinkingWaterPollution = document.getElementById("sidebar-drinking-water-pollution");
        const sideWaterPollution = document.getElementById("sidebar-water-pollution");
        const sideDrinkingWaterQuality = document.getElementById("sidebar-drinking-water-quality");
        const sideWaterQuality = document.getElementById("sidebar-water-quality");

        const bottomNav = document.getElementById("myNav");
        const navDrinkingWaterPollution = document.getElementById("nav-drinking-water-pollution");
        const navWaterPollution = document.getElementById("nav-water-pollution");
        const navDrinkingWaterQuality = document.getElementById("nav-drinking-water-quality");
        const navWaterQuality = document.getElementById("nav-water-quality");

        let navOpen = false;
        let sidebarOpen = false;

        socket.onmessage = (message) =>{
            const response = JSON.parse(message.data);
            sideDrinkingWaterPollution.innerText = response[0];
            sideWaterPollution.innerText = response[1];
            sideDrinkingWaterQuality.innerText = response[2];
            sideWaterQuality.innerText = response[3];
            navDrinkingWaterPollution.innerText = response[0];
            navWaterPollution.innerText = response[1];
            navDrinkingWaterQuality.innerText = response[2];
            navWaterQuality.innerText = response[3];
        }

        //check whether ws is in closing state or not
        function isOpen(ws) { 
            return ws.readyState === ws.OPEN 
        }

        //open navigation bar depending on device size
        function openNav(city) {
            if (!isOpen(socket)) {
                return;
            };
            socket.send(JSON.stringify(city));
            if (window.innerWidth > 1000) {
                sidebar.style.width = "220px";
                sidebar.style.right = "0";
                sidebarOpen = true;
            } else if (window.innerWidth <= 1000) {
                bottomNav.style.height = "170px";
                bottomNav.style.bottom = "0";
                navOpen = true;
            }
        }

        function closeSidebar() {
            sidebar.style.width = "0";
            sidebar.style.right = "-50px";
            sidebarOpen = false;
        }

        function closeNav() {
            bottomNav.style.height = "0";
            bottomNav.style.bottom = "-50px";
            navOpen = false;
        }

        function registerMarker(latitude, longitude, city) {
            const marker = L.marker([latitude, longitude]).bindPopup(city)
            marker.addTo(map)
            marker.addEventListener("click", () => {openNav(city)})
        }

        window.addEventListener('resize', () => {
            if (window.matchMedia('(max-width: 1000px)').matches && sidebarOpen) {
                closeSidebar();
            } else if (window.matchMedia('(min-width: 1001px)').matches && navOpen) {
                closeNav()
            }
        });

        // Creating map
        const map = L.map('map', {
            minZoom: 7.5,
            maxZoom: 14
        }).setView([52.23, 4.55],  7.5);
 
        // OSM layer
        const attribution = '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors';
        const osm = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', { attribution });
        map.addLayer(osm);

        // Icon for city indications
        registerMarker(52.6324, 4.7534, 'alkmaar')
        registerMarker(52.3508, 5.2647, 'almere')
        registerMarker(52.1561, 5.3878, 'amersfoort')
        registerMarker(52.2942, 4.8420, 'amstelveen')
        registerMarker(52.3676, 4.9041, 'amsterdam-nl')
        registerMarker(52.2112, 5.9699, 'apeldoorn')
        registerMarker(51.9851, 5.8987, 'arnhem')
        registerMarker(52.9927, 6.5642, 'assen')
        registerMarker(51.5719, 4.7683, 'breda')
        registerMarker(52.0116, 4.3571, 'delft')
        registerMarker(51.6978, 5.3037, 's-hertogenbosch')
        registerMarker(52.0705, 4.3007, 'the-hague-den-haag')
        registerMarker(52.9563, 4.7608, 'den-helder')
        registerMarker(52.2661, 6.1552, 'deventer')
        registerMarker(52.0347, 5.3457, 'doorn')
        registerMarker(51.8132, 4.6900, 'dordrecht')
        registerMarker(52.5126, 5.0492, 'edam')
        registerMarker(52.0402, 5.6649, 'ede')
        registerMarker(51.4416, 5.4697, 'eindhoven')
        registerMarker(52.7076, 5.2741, 'enkhuizen')
        registerMarker(52.2215, 6.8937, 'enschede')
        registerMarker(52.4424, 6.0445, 'giethoorn')
        registerMarker(52.0115, 4.7105, 'gouda')
        registerMarker(52.3874, 4.6462, 'haarlem')
        registerMarker(50.8882, 5.9795, 'heerlen')
        registerMarker(52.2292, 5.1669, 'hilversum')
        registerMarker(52.6424, 5.0602, 'hoorn')
        registerMarker(52.5580, 5.9145, 'kampen')
        registerMarker(51.8837, 4.6331, 'kinderdijk')
        registerMarker(53.2012, 5.7999, 'leeuwarden')
        registerMarker(52.1601, 4.4970, 'leiden')
        registerMarker(52.5185, 5.4714, 'lelystad')
        registerMarker(50.8514, 5.6910, 'maastricht')
        registerMarker(52.7674, 5.1069, 'medemblik')
        registerMarker(51.8125, 5.8372, 'nijmegen')
        registerMarker(51.1913, 5.9878, 'roermond')
        registerMarker(51.9244, 4.4777, 'rotterdam')
        registerMarker(53.0337, 5.6556, 'sneek')
        registerMarker(51.5606, 5.0919, 'tilburg')
        registerMarker(52.0907, 5.1214, 'utrecht')
        registerMarker(51.5483, 3.6660, 'veere')
        registerMarker(51.3704, 6.1724, 'venlo')
        registerMarker(51.9812, 5.6584, 'wageningen')
        registerMarker(52.4729, 4.8219, 'zaanse-schans')
        registerMarker(52.5168, 6.0830, 'zwolle')
    </script>
</body>
</html>