* {
    box-sizing: border-box;  
    scroll-behavior: smooth;
    margin: 0 auto;
    /* Can't use overflow-x on all since it will hide
    the rendered layers
    overflow-x: hidden; */
}

:root {
    --color-dark: #303030;
    --color-light: #fff;
    --color-grey: #f0f2fa;
    --color-chill: lightskyblue;
    --ff-primary: 'Poppins', sans-serif;
    --fw-bold: 600;
    --fs-title: 1.75rem;
    --fs-body: 1.25rem;
}

/* General */
body {
  font-family: var(--ff-primary);
  line-height: 1.5;
  font-weight: var(--fw-bold);
  overflow-x: hidden;
}

svg {
  display: inline-block;
  position: absolute;
}

/* Header */
.header {
  font-size: var(--fs-title);
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 25%;
  vertical-align: middle;
  overflow: hidden;
  z-index: 2;
}

/* map */
#map { 
  height: 700px; 
  width: 700px;
  z-index: 1;
}

/* navigation */
.navigation {
  overflow: hidden;
  position: fixed;
  z-index: 2;
  background-color: var(--color-light);
  border:0.5px solid var(--color-grey);
  border-radius: 5px;
  transition: 0.3s;
  padding: 2rem 1rem 0;
  font-size: var(--fs-body);
}

.navigation .text {
  color: var(--color-chill);
}

.navigation .bar {
  color: var(--color-dark);
}

.navigation a:hover {
  color: var(--color-accent);
}

#mySidebar {
  width: 0;
  top: 270px;
  right: -50px;
}

#mySidebar .text {
  padding: 0 1rem 0;
}

#mySidebar .bar {
  padding: 0 1rem 2rem;
}

#mySidebar .closebtn {
  position: absolute;
  top: 0;
  color: black;
}

#myNav {
  height: 0;
  width: 500px;
  left: 50%;
  transform: translateX(-50%);
  bottom: -50px;
}

#myNav .text {
  display: flex;
}

#myNav .text div{
  width: 5rem;
  padding: 0 0.6rem 0;
}

#myNav .bar {
  display: flex;
}

#myNav .bar div{
  width: 5rem;
  padding: 0 0.6rem 0;
}

#myNav .closebtn {
  position: absolute;
  top: 0;
  color: black;
}

/* consider smaller screen devices */
@media (max-width: 1000px) {
  :root {
    --fs-title: 1.5rem;
    --fs-body: 0.8rem;
  }
}

@media (max-width: 500px) {
  :root {
    --fs-title: 1.3rem;
    --fs-body: 0.7rem;
  }

  #myNav {
    height: 0;
    width: 300px;
  }

  #map { 
    height: 380px; 
    width: 350px;
  }
}

